@charset "utf-8";

.offline {
	display: none;
}

.localnav {
	position:fixed;
	left:25px;
	top:210px;
}

.hangleft {
	margin-left: -220px;
}

.examples td {
	vertical-align: top;
	padding: 3px 5px 3px 5px;
}
