ul {
  margin: 0px 0px 0px 2em;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-padding-start: 0px;
  padding: 0px;
}

pre {
  background-color: #000;
  padding: 5px;
  display: table-cell;
  border-style: dashed;
  border-width: 2px;
  border-color: #BBB;
}

span {
  font-family: "Frutiger", sans-serif;
}

.keyword {
  Xcolor: #00F;
  color: #66F;
}
.term, .concept {
  Xcolor: #808;
  color: #E0E;
}
.vocabulary, .object_type {
  Xcolor: #808;
  color: #E0E;
}
.linking, .copula {
  Xcolor: #060;
  color: #0C0;
}
.literal, .value {
  color: #FF990E;
}

dd {
  margin-bottom: 0.5em;
}

.glossary-toc {
  display: block;
  margin: 0;
  padding: 0 16px;
  background: #DDD;
  list-style: none;
  font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
  overflow: auto;
  border-right: solid #DDD 3px;
  height: 100%;
  float: right;
  width: 240px;
}

.glossary-doc {
  display: block;
  background: #EEE;
  border-right: solid #EEE 3px;
  font: 300 16px/1.4 "Myriad Pro", "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0 30px;

  left: 0px;
  right: 240px;
}

.glossary-toc li {
  margin-left: 20px;
  text-indent: -20px;
}

.glossary-doc dl {
  margin-bottom: 1600px;
}

.glossary-doc dd {
  margin-bottom: 30px;
}

.glossary-facttype,
.glossary-reading {
  display: inline;
  background: #DDD;
}
