*.csproj.user
*.swo
*.swp
.DS_Store
Documents
Gemfile.lock
Metamodels
ToDo
adhoc
app.config
examples/*/ServiceDirector.*
examples/API
examples/CQL/German/
examples/Derivations
examples/MySQL
examples/Populations
examples/SQL/Diagrams
examples/UML
pkg
queries
spec/log
*.log
