*.swp
*.swo
*.csproj.user
app.config
pkg
Assorted
Documents
Metamodels
adhoc
aprimo*
flash
.DS_Store
examples/*/ServiceDirector.*
examples/MySQL
examples/UML
FBM/
ToDo
examples/CQL/German/
examples/Derivations
examples/Diagrams
examples/Instances
examples/API
