@charset "utf-8";

.offline {
	display: none;
}

.localnav {
	position:fixed;
	left:25px;
	top:210px;
}

.hangleft {
	margin-left: -220px;
}

table.examples { border: 6px solid #e5f0f0; box-shadow: 0px 2px 5px black; -webkit-box-shadow: 1px 1px 5px black; -moz-box-shadow: 0px 2px 5px black; border-radius:0.8em; -webkit-border-radius:0.8em; -moz-border-radius:0.8em; border-collapse: separate; border-spacing: 0; }
.examples td { vertical-align: top; padding: 8px 5px 8px 5px; } 
.examples td a:link { font-size: 0.78em; }
.examples td.title span { font-size: 1.3em; }
.examples td.title > a { font-weight:bold; padding: 0px 30px 0px 0px; }
.examples .diagrams a { display: block; padding: 0px 0px 0px 0px; }
.even { background: #e5f8f9; }
.odd { }
